body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#020617;
}

.back{
color:#60a5fa;
text-decoration:none;
}

.force-btn{
background:red;
padding:8px 15px;
border-radius:6px;
color:white;
text-decoration:none;
}

.players{
display:flex;
justify-content:center;
align-items:center;
gap:80px;
margin:40px 0;
}

.player{
text-align:center;
}

.score{
font-size:30px;
margin-top:10px;
}

.vs{
font-size:28px;
font-weight:bold;
}

.current-round{
width:80%;
margin:auto;
background:#020617;
padding:30px;
border-radius:10px;
}

.question-box{
background:#1e293b;
padding:15px;
margin-bottom:20px;
border-radius:6px;
}

.answers{
display:flex;
gap:30px;
}

.answer-box{
flex:1;
background:#020617;
padding:20px;
border:1px solid #1e293b;
border-radius:8px;
}

.answer-box pre{
background:#000;
padding:10px;
border-radius:6px;
overflow:auto;
}

.meta{
margin-top:10px;
font-size:13px;
color:#94a3b8;
}

.history{
width:80%;
margin:40px auto;
}

.round-card{
background:#020617;
padding:20px;
border-radius:8px;
margin-bottom:20px;
border:1px solid #1e293b;
}

.round-players{
display:flex;
justify-content:space-between;
margin-top:10px;
}