<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>

</head>
<body>
  <div id="page-loader">
  <div class="loader-core">
    <span>C</span><span>O</span><span>D</span><span>I</span><span>N</span><span>G</span>
    <span>D</span><span>U</span><span>E</span><span>L</span>
  </div>
  </div>
<div class="history-container">
        <a href="/index" class="back-btn">← Back</a>

  <h2>Match History</h2>
  <p class="total">Total Matches: {{ total_matches }}</p>

  {% for m in history %}
<a href="/match/{{ m.id }}" class="match-link">
  <div class="match-card {{ m.result|lower }}">
    <div class="top">
      <span>{{ m.date.strftime('%d %b %Y • %I:%M %p') }}</span>
      <span>{{ m.result }}</span>
    </div>

    <div class="meta">
      <span>Opponent: {{ m.opponent }}</span>
      <span>Language: {{ m.language }}</span>
      <span>Points: {{ m.points }}</span>
    </div>
<ul class="questions match-details hidden">
      {% for q in m.questions %}
        <li>{{ q }}</li>
      {% endfor %}
    </ul>
  </div>
  </a>
  {% endfor %}
</div>


</body>
</html>